@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --primary-color: #FFEFCD;
  --secondary: #A58E74;
  --accent: #E09132;
  --text: #424530

  --primary-color: #F5EFFF;
  --secondary: #E4E0E1;
  --accent: #FEF9D9;
  --text: #624E88

  --primary-color: #fbc4ab;
  --secondary: #f08080;
  --accent: #FEF9D9;
  --text: #723d46
} */

@layer components {
  .card {
    @apply rounded-xl relative;
  }

  .card-gradient {
    @apply absolute top-0 left-0 z-10 h-full w-full bg-gradient-to-b from-[#00000000] via-[#00000010] to-[#000000];
  }

  .second-pic {
    @apply -top-[30vh] left-[5vw];
  }

  .third-pic {
    @apply -top-[10vh] -left-[30vw];
  }

  .forth-pic {
    @apply left-[27.5vw];
  }

  .fifth-pic {
    @apply top-[27.5vh];
  }
}

/* lennis scroll styles */
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
